#profileInfo{
    text-align: right;
}

.header h1{
    
    text-align: center;
    padding: 50px;
    font-size: 50px;
    
}

table {
    
    margin: 20px 0px 20px 0px;
    width: 100%;
}

td{
    text-align: center;
    border-style: double;
    border-width: 0.1px;
    
}

#middleGroup {
    width: 40%;
    margin: 0px 30% 0px 30%;
}



 